name: build

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths-ignore:
      - '*.md'
  pull_request:
    paths-ignore:
      - '*.md'

jobs:

  build:

    permissions:
      contents: write
      pull-requests: write

    runs-on: windows-latest

    env:
      Solution_Path: MDict.Csharp.sln
      Project_Path: MDict.Csharp\MDict.Csharp.csproj

    steps:

      # Checkout codes
      - name: Checkout
        uses: actions/checkout@v4

      # Install the .NET Core workload
      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            7.0.x
            9.0.x

      # Restore dependencies
      - name: Restore dependencies
        run: dotnet restore ${{ env.Solution_Path }}

      # Build the project
      - name: Build
        run: dotnet build ${{ env.Solution_Path }} --configuration Release --no-restore

      # Execute all unit tests in the solution
      - name: Execute unit tests
        run: dotnet test ${{ env.Solution_Path }} --configuration Release --no-build

      # Pack the NuGet package
      - name: Create NuGet package
        run: dotnet pack ${{ env.Project_Path }} --configuration Release --no-build --output nupkgs

      # Upload the NuGet package
      - name: Upload NuGet package
        uses: actions/upload-artifact@v5
        with:
          name: MDict.Csharp
          retention-days: 7
          path: MDict.Csharp/bin/Release